/* LOGO */
/* Estilo base (Escritorio y Tablets grandes) */
.hercules-logo {
    max-height: 47px;
    /* Altura original */
    width: auto;
    /* Mantiene la proporción correcta */
    transition: all 0.3s ease;
    /* Añade una animación suave al cambiar de tamaño */
}


/* Estilo para Móviles (pantallas menores a 1025px) */
@media (max-width: 1025px) {
    .hercules-logo {
        max-height: 30px;
        /* Altura reducida para que no rompa el menú */
        margin-top: 5px;
        /* Un pequeño ajuste de alineación si es necesario */
    }
}

/* Estilo para Móviles (pantallas menores a 770px) */
/* @media (max-width: 769px) {
    .hercules-logo {
        max-height: 20px
        /* display: none; 
    }
} */

/* Opcional: Ajuste para pantallas muy pequeñas (menores a 350px) */
/* @media (max-width: 350px) {
    .hercules-logo {
        max-height: 35px;
    }
} */
/* FIN LOGO */ 

